*{
    margin: 0; 
    padding: 0;
}
html{
    font-size: 16px;
}

body{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, arial;
    color: silver; 
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(rgba(14, 15, 78, 0.9), rgba(56, 56, 56, 0.9));
}
.drop {
    position: fixed;
    width: 150px;
    display: inline-block;
    transform: rotate(10deg);
    animation: sway 1s infinite alternate ease-in-out;
}

.img-drop{
    width: 50%;
}
.element {
animation: pulse 5s infinite;
}


.target{
    position: absolute;
    width: 15rem;
    top: 95vh;
    left: 50%;
    transform: translateX(-50%);
}

.scoreboard{
    float: right; 
    font-size: 2rem;
    font-weight: 600;
    color: rgb(150, 149, 149);
    margin-right: 2rem;
    margin-top: .5rem;
}
#score{
    font-size: 3rem;
    color: rgb(175, 175, 175);
}
.play-group{
    /* display: flex;     */
    position: absolute;
    bottom: 3rem;
    right: .5rem;
    color: rgb(150, 149, 149);
}
#input{
    width: 20%;
    height: 1.8rem;
    margin-right: 1rem;
    padding-left: 1rem;
    background-color: slategray;
    border: none;
}
.btn-drop:link, .btn-drop:visited{
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(150, 149, 149);
    transition: all .3s;
}

.btn-drop:hover{
    text-shadow: rgb(247, 126, 105) 1px 1px 10px;
    transform: translateY(-5px);
}

.btn-drop:active{
    text-shadow: rgb(71, 71, 71) 1px 1px 10px;
    transform: translateY(0);
}

@keyframes sway {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  
  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }